<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wz.modules.sys.dao.UserProjectDao">


    <resultMap type="com.wz.modules.sys.entity.UserProjectEntity" id="userProjectMap">
        <result property="userId" column="user_id"/>
        <result property="projectId" column="project_id"/>
    </resultMap>

    <sql id="Base_Column_List" >
		user_id, 
		project_id
    </sql>

	<select id="queryObject" resultType="com.wz.modules.sys.entity.UserProjectEntity" resultMap="userProjectMap">
		select
		<include refid="Base_Column_List" />
		from sys_user_project
		where user_id = #{value}
	</select>

	<select id="queryList" resultType="com.wz.modules.sys.entity.UserRoleEntity" resultMap="userProjectMap">
		select
		<include refid="Base_Column_List" />
		from sys_user_project
        <!--<choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>-->
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_user_project
	</select>
	 
	<!--<insert id="save" parameterType="com.wz.modules.sys.entity.UserProjectEntity">
		insert into sys_user_project
		(
			`user_id`, 
			`project_id`
		)
		values
		<foreach collection="projectIdList" item="item" index="index" separator="," >
		(
			#{userId}, 
			#{item}
		)
		</foreach>
	</insert>-->

	<insert id="saveBatch">
		insert into sys_user_project
		(
		`user_id`,
		`project_id`
		)
		values
		<foreach item="item" collection="list" separator=",">
			(
			#{item.userId},
			#{item.projectId}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.wz.modules.sys.entity.UserProjectEntity">
		update sys_user_project
		<set>
			<if test="projectId != null">`project_id` = #{projectId}</if>
		</set>
		where user_id = #{userId}
	</update>

	<!--删除用户下的所有用户角色权限-->
	<delete id="delete">
		delete from sys_user_project where user_id = #{value}
	</delete>
	<!--根据用户list批量删除用户角色中间表-->
	<delete id="deleteBatchByUserId">
		delete from sys_user_project where user_id in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	<!--根据角色list批量删除用户角色中间表-->
	<delete id="deleteBatchByProjectId">
		delete from sys_user_project where project_id in
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{projectId}
		</foreach>
	</delete>

	<select id="queryProjectIdList" resultType="java.lang.String">
		select project_id from sys_user_project where user_id = #{value,jdbcType=VARCHAR}
	</select>
	
	
	
	

</mapper>